.modal {
    display: overlay; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    width: 80%; /* 80% of the screen */
    background-color: white;
    position: relative; /* To position the close button */
    animation-name: modal-appear;
    animation-duration: 0.4s;
  }
  
  /* Animation for modal content */
  @keyframes modal-appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    transition: 0.3s;
  }