#Add-Event {
  padding-bottom: 10px;
}

#Add-Event table {
  width: 90%;
  margin-left: 4%;
  text-align: left;
  border-collapse: collapse;
}
#Add-Event table th {
  padding: 10px;
}

#Add-Event table td {
  padding: 10px;
}

#Add-Event table label {
  display: block;

  color:  #000;
  font-family: "Source Sans Pro", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

#Add-Event table input[type=text] {
  border-radius: 7px;
  border: 1px solid #000;
  background: #FFF;
  padding: 0px 10px;
  width: 100%;
  line-height: 49px;
  font-size: 18px;
}

#Add-Event table input[type=datetime-local] {
  border-radius: 7px;
  border: 1px solid #000;
  background: #FFF;

  width: 100%;
  line-height: 49px;
  font-size: 18px;
}

#Add-Event table textarea {
  padding: 0px 10px;
  border-radius: 7px;
  border: 1px solid #000;
  background: #FFF;

  width: 100%;
  line-height: 49px;
  font-size: 18px;
}

#Add-Event button {
  border-radius: 20px;
  background: #0687FF;
  width: 112px;
  height: 40px;

  color: #FFF;
  font-family: "Source Sans Pro", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border: none;
}
