.productmodal {
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
}

/* .productmodal h3 {
  float: left;
} */

.modalcontent {
  margin-top: -20px;
  width: 100%;
  text-align: left;
  padding-left: 45px;
  height: auto;
  background-color: white;
  position: relative;
  animation-name: modal-appear;
  animation-duration: 0.4s;
}

@keyframes modal-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 10px;
  right: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.proname {
  color: var(--Text-Text-primary, #000);
  font-family: "Source Sans Pro";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.infoseller {
  border-bottom: #000 solid 1px;
  display: flex;
  width: 90%;
  color: var(--Text-Text-primary, #000);
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.infouser {
  width: 70%;
  font-weight: 500;
}
.infotime {
  width: 30%;
  text-align: right;
  font-weight: 400;
}

.infoimage img {
  padding-top: 15px;
  padding-left: 15px;
  width: 150px;
  height: 150px;
}

.protable {
  padding-top: 10px;
  all: initial;
  width: 90%;
}

.inforth {
  padding-left: 15px;
  text-align: left;
  width: 150px;
}

.inforow {
  width: 70%;
  margin-top: 50px;
}

.spcontent {
  width: 80%;
}

.spcontent1{
  width: 90%;
}

.close {
  border: none;
  width: 112px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* .close:hover {
  background-color: #45a049;
} */

.acpt {
  background: #0687ff;
}

.rej {
  background: #ff2900;
}
